pkgbase = arcadia-dreamshell
	pkgdesc = Linux-native emulation ecosystem (discovers and resumes emulator state)
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/Evol-Luci/arcadia
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = rust
	makedepends = cargo
	makedepends = npm
	makedepends = nodejs
	depends = webkit2gtk-4.1
	depends = gtk3
	options = !lto
	source = arcadia-dreamshell-0.1.1.tar.gz::https://github.com/Evol-Luci/arcadia/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = SKIP

pkgname = arcadia-dreamshell
